.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #f0f8ff;
    padding: 15px;
    width: 98.6%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.click:hover{
    cursor: pointer;
    color: aqua;
}
.productList{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8vmax;
}
.productList>div{
    width: 33%;
    margin-top: 4.5vmax;
    display: flex;
    flex-direction: column;
}
.productList>div>img{
    width: 75%;
    height: 75%;
}
.productList>div>button{
    width: 76%;
}
